<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seluhadu.shchat">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="Camera" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:theme="@style/NoFullscreen" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/NoFullscreen" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".UserSettings" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".ChatActivity"
            android:theme="@style/SliderBackActivityTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".notification.TestActivity"
            android:screenOrientation="locked"
            android:theme="@style/NoFullscreen" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".multi_edittext.EditTextActivity" />
        <activity android:name=".permission.PermissionActivity" />

        <receiver android:name=".notification.NotificationReceiver" />
        <service android:name=".background.UploadService" />
        <service android:name=".download.DownloadService" />
    </application>

</manifest>